* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(237, 241, 245) !important;
  padding: 0;
  overflow-y: overlay;
}

::-webkit-scrollbar {
  max-height: 0%;
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-track {
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 5px;

  background: #6d6d6d;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 10px;
  border-radius: 5px;

  background: #5e5e5e;
}
header {
  z-index: 3;
  background-color: #222831;
  margin: auto -16px;
  padding: 5px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 50px;
  position: relative;
  overflow: hidden;
}

header h1 {
  color: #fff;
  font-family: "Pirata One", cursive;
  font-family: "Pirata One", cursive;
  font-size: xx-large;
  font-weight: 200;
  width: 100px;
  float: left;
}
.lhs {
  z-index: 2;
  margin-top: 5px;
  float: right;
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.CompanyBox {
  margin: 20px;
  padding: 20px;
  background-color: #222831;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  line-height: 2rem;
}

.FlexContainer {
  padding: 20px 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.CompanyBox h1 {
  text-align: center;
  font-size: x-large;
  color: #00adb5;
  font-family: "Pirata One", sans-serif;
  font-family: "Pirata One", sans-serif;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.CompanyBox p span {
  color: #00adb5;
}

.OpenMenuButton {
  cursor: default;
  transition: all 1s ease;
}
.OpenMenuButton:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 173, 181, 1);
}

.Form {
  position: relative;
  height: auto;
  width: 100%;
  background-color: #222831;
  padding: 20px;
  top: -50%;
  bottom: 0;
  left: 0%;
  right: 0;
  transition: all 1s ease;
  flex-direction: column;
  justify-content: space-evenly;
}

.Formh1 {
  color: #fff;
  padding-bottom: 0px;
  font-size: 30px;
  width: 100%;
  font-weight: normal;
  font-family: "Pirata One", sans-serif;
}

.Labels {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  width: 100%;
  height: 350px;
  width: 100%;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}
.inputContainer > div {
  padding: 10px;
  width: 350px;
}
.ButtonContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  transition: all 2s ease;
  width: 100%;
  transition: all 2s ease;
}
.tooltip:hover {
  cursor: pointer;
}
.tooltipMenu {
  position: relative;
  height: 114px;
  width: 141px;
  border-width: 2px;
  border-color: #222831;
  background-color: #222831;
  padding: 35px;
  top: -200%;
  bottom: 0;
  float: right;
  transform: translateX(106px);
  z-index: -3;
  transition: all 1s ease;
}

.tooltipMenu::after {
  content: "";
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: -30px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #222831;
  top: -10px;
  left: 110px;
}
.FakeMenu {
  width: 105%;
  min-height: 60px;
  z-index: -1;
  background-color: #222831;
  top: 0;
  margin: auto 0;
  padding: 5px 32px;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  transform: translate(-17px, -17px);
}
.CompanyBoxRhs {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: nowrap;
}

.CompanyBoxRhs {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: nowrap;
}
@media screen and (max-width: 620px) {
  .Form {
    height: auto;
  }
  .inputContainer {
    height: auto;
  }
  .inputContainer {
    height: auto;
  }
  .searchBox:hover {
    width: 150px;
    padding: 0 6px;
  }
}

.FakeMenu {
  width: 120%;
  min-height: 60px;
  z-index: -1;
  background-color: #222831;
  top: 0;
  margin: auto 0;
  padding: 5px 32px;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  transform: translate(-17px, -17px);
  display: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.MainContainer {
  transition: all 2s ease-in-out;
}

.CompanyBoxRhs {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: nowrap;
}
@media screen and (max-width: 620px) {
  .Form {
    height: auto;
  }
  .inputContainer {
    height: auto;
  }
  .inputContainer {
    height: auto;
  }
  .searchBox:hover {
    width: 150px;
    padding: 0 6px;
  }
}

.FakeMenu {
  width: 120%;
  min-height: 60px;
  z-index: -1;
  background-color: #222831;
  top: 0;
  margin: auto 0;
  padding: 5px 32px;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  transform: translate(-17px, -17px);
  display: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.MainContainer {
  transition: all 2s ease-in-out;
}
.bellactice {
  transition: tilt-shaking 2s ease-in-out;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.sideMenu {
  font-family: "Poppins", sans-serif;
  color: #fff;
  width: 300px;
  font-size: small;
  background: #222831;
  height: 100vh;
  position: fixed;
  padding: 70px 30px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sideMenuOn {
  width: 300px;
  right: 0;
  transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.sideMenuOff {
  width: 0px;
  transform: rotateY(90deg);
  right: -300px;
  transition: all 1s ease-in-out;
}
.CompanyStatus {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: 1px #fff solid;
  border-radius: 5px;
}
.RegisteredCompany {
  display: flex;
  flex-direction: column;
}
.NotRegisteredCompany {
  display: flex;
  flex-direction: column;
}
.CompanyStatus ul {
  list-style: none;
}

.CompanyStatus li {
  padding: 10px 25px;
  border-top: 1px #fff solid;
  width: 100%;
}
