* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  background: #222831;
  padding: 0;
  overflow: hidden;
}

header {
  z-index: 2;
  display: block;
  position: relative;
  background-color: #222831;
  margin: auto -16px;
  padding: 5px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 50px;
}

header h1 {
  color: #fff;
  font-family: "Pirata One", cursive;
  font-size: xx-large;
  font-weight: 200;
  width: 100px;
  float: left;
}
.lhs {
  margin-top: 5px;
  float: right;
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.SearchBar {
  width: 500px;
  height: 40px;
  border-radius: 20px;
  background-color: antiquewhite;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.75);
}
.SearchButton {
  padding: 7px 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  float: right;
}

.CompanyBox {
  margin: 20px;
  padding: 20px;
  background-color: #222831;
  color: #fff;
  border-radius: 30px;
  box-shadow: 3px 2px 2px 0px rgba(0, 0, 0, 0.75);
  line-height: 2rem;
}

.FlexContainer {
  padding: 20px 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.CompanyBox h1 {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  color: #00adb5;
  font-family: "Pirata One", sans-serif;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.CompanyBox p span {
  color: #00adb5;
}

.OpenMenuButton {
  cursor: default;
  transition: all 1s ease;
}
.OpenMenuButton:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 173, 181, 1);
}

.Form {
  z-index: -1;
  position: fixed;
  display: flex;
  height: 65%;
  width: 100%;
  background-color: #222831;
  padding: 20px;
  top: -50%;
  bottom: 0;
  left: 0%;
  right: 0;
  transition: all 1s ease;
  flex-direction: column;
  justify-content: space-between;
}

.Formh1 {
  padding-bottom: 0px;
  font-size: 30px;
  width: 100%;
  font-weight: normal;
  font-family: "Pirata One", sans-serif;
  transition: all 2s ease;
}

.Labels {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  width: 100%;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.inputContainer > div {
  padding: 10px;
  width: 300px;
}
.ButtonContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  transition: all 2s ease;
}

.tooltipMenu {
  position: relative;
  height: 114px;
  width: 141px;
  border-width: 2px;
  border-color: black;
  background-color: #222831;
  padding: 35px;
  top: -200%;
  bottom: 0;
  float: right;
  left: 0;
  right: 0;
  transform: translateX(106px);
  z-index: -3;
  transition: all 1s ease;
}

.tooltipMenu::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: -30px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #222831;
  top: -10px;
  left: 110px;
}
.FakeMenu {
  width: 105%;
  min-height: 60px;
  z-index: -1;
  background-color: #222831;
  top: 0;
  margin: auto 0;
  padding: 5px 32px;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  transform: translate(-17px, -17px);
}
.CompanyBoxRhs {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: nowrap;
}
